.whiteBox {
    position: relative;
    background-color: white;
    width: 1000px;
    margin : 0 auto;
    border-radius: 20px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    padding: 30px;
    margin-top: 50px;
}

.filterArea {
    text-align: right;
    margin-right: 70px;
    margin-bottom: 45px;
}


.filterArea select {
    display: inline-block;
    position: relative;
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-bottom: 3px solid #C4C4C4;
    padding: 10px;
    margin-left: 20px;
}

.filterArea select option {
    color: #656565;
    padding: 3px 0;
}

.filterArea select option:focus {
    color: #f23333;
    padding: 3px 0;
}

.search {
    display: inline-block;
    position: relative;
    text-align: right;
    width: 200px;
    height: 45px;
    margin-left: 20px;
    border-bottom: 3px solid #C4C4C4;
    vertical-align: bottom;
}

.search input {
    position: absolute;
    bottom: 0px;
    left:0px;
    width: 170px;
    height: 35px;
    box-sizing: border-box;
    border: none;
    padding: 10px;

    transition: border-bottom 200ms ease;
}

.search input::placeholder {
    color: #C4C4C4;
}

.search input:focus {
    outline: none;
}

.underline {
    position: absolute;
    width: 0px;
    height: 3px;
    background-color: #f23333;
    bottom: -3px;
    transition: width 300ms ease;
}
.search input:focus + .underline {
    width: 200px;
}

.search button {
    cursor: pointer;
    position: absolute;
    top: 0; 
    right: 0;
    transform: translate(-0%, 50%);
    z-index: 3;
    width: 25px; 
    height: 25px;
    display: flex;
    background: url('../../img/search.png');
    background-size: cover;
    border: 0 none;
    outline: 0 none;
    background-color: white;
}