.whiteBox {
  position: relative;
  background-color: white;
  width: 1000px;
  margin: 0 auto;
  border-radius: 20px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  padding: 30px;
  margin-top: 50px;
}

.filterArea {
  text-align: right;
  margin-right: 70px;
  margin-bottom: 45px;
}

.filter {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 35px;
  border-bottom: 3px solid #c4c4c4;
  margin-left: 30px;
  text-align: left;
}

.filter > select {
  font-size: 14px;
  cursor: pointer;
  width: inherit;
  height: inherit;
  background: transparent;
  border: 0 none;
  outline: 0 none;
  padding: 0 8px;
  position: relative;
  z-index: 3;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filter > select > option {
  color: #5a5a5a;
  padding: 10px 0px 10px 0px;
  font-size: 14px;
}

.filterArrow {
  position: absolute;
  bottom: 7px;
  right: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  transition: transform 300ms ease-in-out;
  background: url('../../img/down-arrow.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 50% 50%;
}

.filter > select:focus + .filterArrow {
  transform: rotate(180deg);
}

.filter:nth-child(2) {
  width: 130px;
}

.filter:nth-child(3) {
  width: 160px;
}

.filter:nth-child(3) > select {
  width: 140px;
}

.search {
  display: inline-block;
  position: relative;
  text-align: right;
  width: 200px;
  height: 45px;
  margin-left: 20px;
  border-bottom: 3px solid #c4c4c4;
  vertical-align: bottom;
}

.search input {
  font-size: 14px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 170px;
  height: 35px;
  box-sizing: border-box;
  border: none;
  font-family: 'Pretendard-Regular';
  padding: 10px;
  transition: border-bottom 200ms ease;
}

.search input::placeholder {
  color: #c4c4c4;
}

.search input:focus {
  outline: none;
}

.underline {
  position: absolute;
  width: 0px;
  height: 3px;
  background-color: #f23333;
  bottom: -3px;
  transition: width 300ms ease;
}
.search input:focus + .underline {
  width: 200px;
}

.search button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-0%, 50%);
  z-index: 3;
  width: 25px;
  height: 25px;
  display: flex;
  background: url('../../img/search.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  border: 0 none;
  outline: 0 none;
  background-color: white;
}

/* .search button::before {
    display: flex;
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background-color: #5a5a5a;
    background-size: 30px 30px;
    z-index: 2;
} */

/* .search button::before:hover {
    display: flex;
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background-color: #5a5a5a;
    background-size: 30px 30px;
} */
