.loginArea{
    text-align: right;
    margin-top: 100px;
    margin-right: 20px;
    margin-bottom: -20px;
}

.loginButton{
    border: none;
    background-color: transparent;
}

.inputText{
    width: 200px;
    height: 30px;
}