/* .topBar{
    position: relative;
    margin-top:10px;
    margin-bottom: 10px;
}

.topBarButton {
    font-size: 15px;
    color:cornflowerblue;
    margin-right: 90px;
    border-style: none;
    width: 94px;
    height: 66px;
    font-family: '어그로';
}

.topBarButton:hover {
    font-size: 15px;
    color:#FFA0AC;
    margin-right: 90px;
    border-style: none;
    font-family: '어그로';
    width: 94px;
    height: 66px;
}

.bottomCategory {
    display: none;
}

.bottomCategory:hover { 
    color: white;
 }

 .topBar:hover .bottomCategory {
     display: block;
 }

@font-face {
    font-family: '어그로';
    src: url('../fonts/SB\ 어그로\ B.ttf');
} */

nav ul {
    width:100%;
    background-color: transparent;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

.dropdown{
    position:relative;
}

.dropdownMenu{
    position: relative;
    color: black;
    margin: 20px 10px 20px 10px;
    min-width: 160px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.dropdownContent{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: transparent;
    padding: 20px 0 20px 0;
    display: none;
    z-index: 1;
    min-width: 160px;
}

.dropdownContent div {
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdownMenu:hover{
    background-color: transparent;
    color: #F23333;
}


.dropdown:hover .dropdownContent{
    display: block;
}

.dropdownContent div:hover{
    color: white;
    background-color: #F23333;
}