/* .topBar{
    position: relative;
    margin-top:10px;
    margin-bottom: 10px;
}

.topBarButton {
    font-size: 15px;
    color:cornflowerblue;
    margin-right: 90px;
    border-style: none;
    width: 94px;
    height: 66px;
    font-family: '어그로';
}

.topBarButton:hover {
    font-size: 15px;
    color:#FFA0AC;
    margin-right: 90px;
    border-style: none;
    font-family: '어그로';
    width: 94px;
    height: 66px;
}

.bottomCategory {
    display: none;
}

.bottomCategory:hover { 
    color: white;
 }

 .topBar:hover .bottomCategory {
     display: block;
 }

@font-face {
    font-family: '어그로';
    src: url('../fonts/SB\ 어그로\ B.ttf');
} */
nav {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainMenu > li {
    float: left;
    position: relative;
}

.mainMenu > li > div {
    cursor: pointer;
    font-size: 18px;
    color: black;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.05em;
    display: inline-block;
    padding: 10px 20px;
}

.mainMenu > li > div:hover {
    color: #F23333;
}

.mainMenu > li > div::after {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0px;
    content: "";
    width: 0px;
    height: 4px;
    background-color: #F23333;
}

.mainMenu > li > div:hover::after {
    content: "";
    width: 100%;
    transition: width 300ms ease
}

.subMenu {
    z-index: 3;
    position: absolute;
    background: white;
    visibility: hidden;
    width: 100%;
}

.subMenu > li {
    padding: 10px 10px;
}

.subMenu > li >  div {
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.mainMenu > li:hover .subMenu {
    opacity: 1;
    visibility: visible;
    animation: slide linear 0.15s;
}

.mainMenu > li:hover .subMenu > li > div {

    animation: slide linear 0.3s;
}

@keyframes slide {
    0%{
        color: transparent;
        height: 0;
    }
    100%{
        color: black;
        height: 100%;
    }
}

.subMenu > li >  div:hover {
    cursor: pointer;
    color: #F23333;
}