nav {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'ROKAFSansBold';
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainMenu > li {
    float: left;
    position: relative;
}

.mainMenu > li > div {
    cursor: pointer;
    font-size: 16px;
    color: black;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.05em;
    display: inline-block;
    padding: 5px 20px;
}

.mainMenu > li > div:hover {
    color: #f23333;
}

.mainMenu > li > div::after {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0px;
    content: '';
    width: 0px;
    height: 4px;
    background-color: #f23333;
}

.mainMenu > li > div:hover::after {
    content: '';
    width: 100%;
    transition: width 300ms ease;
}

.subMenu {
    z-index: 3;
    position: absolute;
    background: white;
    visibility: hidden;
    width: 100%;
}

.subMenu > li {
    padding: 10px 10px;
}

.subMenu > li > div {
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.mainMenu > li:hover .subMenu {
    opacity: 1;
    visibility: visible;
    animation: slide ease 0.3s;
}

/* 하위 메뉴 글자 */
.mainMenu > li:hover .subMenu > li > div {
    animation: slide linear 0.1s;
}

@keyframes slide {
    0% {
        color: transparent;
        opacity: 0;
    }
    100% {
        color: black;
        opacity: 1;
    }
}

.subMenu > li > div:hover {
    cursor: pointer;
    color: #f23333;
}
