.container {
    margin-bottom: 30px;
}

.title{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
}

.title > button {
    border-style: none;
    background-color:rgba(205, 92, 92, 0);
    font-family: '어그로';
    font-size: 30px;
    vertical-align: bottoms;
}

.navigationBar{
    position: relative;
    vertical-align: top;
    text-align: center;
    border-top: #F23333 solid 1px;
    border-bottom: #F23333 solid 1px;
    margin-bottom: 50px;
}

@font-face {
    font-family: '어그로';
    src: url('../fonts/SB\ 어그로\ B.ttf');
}