.container {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: left;
    min-height: 1200px;
}

.container > article {
    display: inline-block;
    text-align: center;
    margin: 15px;
}

.container > article > div {
    display: inline-block;
}

.footer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
}
