.App {
  text-align: center;
  padding: 0px;
  min-width: 1080px;
  min-height: 1300px;
  background-color: #F9F2EC;
  position: relative;
  padding-bottom: 300px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}