.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 16px;

}

.button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50px;
  background: #F23333;
  color: white;
  font-size: 12px;
  margin: 10px;
  transition: transform 300ms ease;
}

.button:hover {
  cursor: pointer;
  transform: translateY(-4px);
}

.pageButton {
  border:none;
  color: #F23333;
  background-color: transparent;
  margin: 10px;
  font-size: 16px;
  transition: transform 300ms ease;
}

.pageButton:hover {
  cursor: pointer;
  transform: translateY(-4px);
}

.button:disabled {
    background: #c4c4c4;
    opacity: 0.8;
    cursor: revert;
    transform: revert;
}

.pageButton[aria-current] {
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    box-shadow: #c4c4c4 0px 4px 7px;
    font-size: 24px;
    font-weight: bold;
    cursor: revert;
    transform: revert;
}

.pageButton:active {
    
}
