.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 16px;
}

.button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50px;
  padding: 8px;
  margin: 0;
  background: #F23333;
  color: white;
  font-size: 1rem;
  margin: 10px;
}

.pageButton {
  border:none;
  color: #F23333;
  background-color: transparent;
  margin: 10px;
  font-size: 14pt;
  transition: transform 300ms ease;
}

.pageButton:hover {
  cursor: pointer;
  transform: translateY(-4px);
}

.button:disabled {
    background: #c4c4c4;
    opacity: 0.8;
    cursor: revert;
    transform: revert;
}

.button:aria-current {
    background: deeppink;
    font-weight: bold;
    cursor: revert;
    transform: revert;
}

.pageButton:active {
    background-color: gold;
}
