.container{
    position: relative;
    text-align: left;
    width: 280px;
    display: inline-block;
    vertical-align: top;
}

.thumbnailArea > img {
    text-align: left;
    width: 280px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 500ms ease;
    margin-bottom: 5px;
}

.thumbnailArea > img:hover {
    object-fit: contain;
    transform: scale(0.9);
}

/* 제목 */
.thumbnailArea > div:nth-child(2) {
    display: inline-block;
    overflow: hidden;
    width: 280px;
    text-align: left;
    color: black;
    font-size: 16px;
    overflow:hidden;
    text-overflow: ellipsis; 
    white-space:nowrap;
}

/* 날짜 */
.thumbnailArea > div:nth-child(3) {
    text-align: left;
    color: black;
    font-size: 16px;
}

.likeOnButton {
    background: url("../../img/ticket3.png");
}

.likeOffButton {
    background: url("../../img/ticket3.png");
}

.likeOnButton, .likeOffButton {
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
    /* border: #c4c4c4 solid 1px;*/
    background-color: rgba(255, 255, 255, 0.8);
    top: 10px;
    right: 10px;
}

