.chatcontainer {
    position: relative;
    display: inline-block;
    width: 610px;
    border: 2px solid #5A5A5A;
    border-radius: 20px;
    box-sizing: border-box;
    height: 800px;
    background-color: white;
}

.topBar {
    position: relative;
    height: 50px;
    border-radius: 17px 17px 0px 0px;
    background-color: #f32222;
    border-bottom: #5A5A5A 2px solid;
}

.topBar::before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    background: url("../../img/chat.png");
    background-repeat: no-repeat;
    background-size: 100%;
    left: 20px;
    top:50%;
    transform: translate(0, -50%);
}

.notMyArea {
    position: relative;
    padding: 10px 20px 10px 20px;
    background-color: #F9F2EC;
    border-bottom: #5A5A5A 2px solid;
    text-align: left;
}

.notMyArea > * {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.notMyArea > img {
    text-align: left;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}

/* 상대방 닉네임 */
.notMyArea > div:nth-child(2) {
    left: 90px;
    font-size: 1.25rem;
}

.notMyArea > div:nth-child(3)::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 40px;
    height: 40px;
    border: #C4C4C4 1px solid;
    border-radius: 50px;
    margin-right: 10px;
    background: url('../../img/reliability.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-color: white;
}

/* 신뢰도 */
.notMyArea > div:nth-child(3) {
    left: 300px;
    font-size: 14px;
}

.notMyArea > div:nth-child(4) {
    top:50%;
    transform: translate(0%, -50%);
    position: absolute;
    right: 0px;
}

.notMyArea > div:nth-child(4) > button {
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    border: none;
    background-color: #f32222;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

.messagebox {
    box-sizing: border-box;
    height: 600px;
    overflow: auto;
    border-bottom: #5A5A5A 2px solid;
}

.messagebox2 {
    box-sizing: border-box;
    height: 560px;
    overflow: auto;
    border-bottom: #5A5A5A 2px solid;
}

.messagebox::-webkit-scrollbar, .messagebox2::-webkit-scrollbar{
    width: 15px;
    background-color: transparent;
}

.messagebox::-webkit-scrollbar-thumb, .messagebox2::-webkit-scrollbar-thumb{
    width: 15px;
    background-color: #C4C4C4;
    border-radius: 20px;
    background-clip: padding-box;
    border: 4px solid transparent;

}

.preview div {
    position: relative;
    text-align: left;
    padding: 10px;
    height: 100px;
    border-top: #5A5A5A 2px solid;
    background-color: white;
}

.preview div > img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}

.preview div > button {
    cursor: pointer;
    position: absolute;
    right: 0px;
    border: none;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #C4C4C4;
    background-color: transparent;
}

.writeArea {
    position: relative;
    height: 70px;
}

.writeArea > * {
    position: absolute;
    display: inline-block;
    top:50%;
    transform: translate(0%, -50%);
}

.writeArea > input {
    width: 430px;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: #5A5A5A 2px solid;
    box-sizing: border-box;
    padding-left: 10px;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: #FBC2C2;
    font-size: 14px;
}

.writeArea > input:focus {
    background-color: white;
}

/* 사진 첨부 */
.writeArea > label {
    cursor: pointer;
    left:20px;
    border: #5A5A5A 2px solid;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: url("../../img/gallery.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 50% 50%;
    background-color: #FBC2C2;
}

/* 전송 버튼 */
.writeArea > button {
    cursor: pointer;
    right:20px;
    background: url("../../img/send.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 40% 50%;
    background-color: #FBC2C2;
    border: #5A5A5A 2px solid;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.complete {
    border-bottom: #5A5A5A 2px solid;
    padding: 10px;
    font-size: 16px;
    color: #f32222;
}

.myMessage {
    text-align: right;
    margin: 10px;
}

.notMyMessage {
    text-align: left;
    margin: 10px;
}

/* 메시지 내용 */
.myMessage > div:nth-child(2), .notMyMessage > div:nth-child(2){
    display: inline-block;
    padding: 20px;
    max-width: 350px;
    border: #5A5A5A 1px solid;
    font-size: 14px;
}

.myMessage > div:nth-child(2) {
    border-radius: 30px 10px 30px 30px;
    background-color: #FBC2C2;
}

.notMyMessage > div:nth-child(2){
    border-radius: 10px 30px 30px 30px;
    background-color: #F9F2EC;
}

/* 날짜 */
.myMessage > div:nth-child(1), .notMyMessage > div:nth-child(3) {
    display: inline-block;
    margin: 10px;
    font-size: 12px;
    vertical-align: bottom;
}

.myMessage > div:nth-child(2) img, .notMyMessage > div:nth-child(2) img{
    object-fit: cover;
    max-width: 350px;
    max-height: 350px;
}